include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success.btnprint(onclick='window.print()') Print
    .center.bold คำสั่ง จังหวัด
    .center.bold ที่ 
      label.h3(style='margin-top: 5px;') PO-61-000010
    .center.bold เรื่อง แต่งตั้ง คณะกรรมการตรวจรับพัสดุ 
    .center.bold 
      | สำหรับการซื้อจำนวน 1 รายการ ( &nbsp;PARA 500 MG&nbsp; ) โดย.......................

    br
    .fontspace
    | ด้วย จังหวัด....................... มีความประสงค์จะซื้อจำนวน 1 รายการ ( &nbsp;PARA 500 MG&nbsp; ) โดย....................... และเพื่อให้เป็นไปตามระเบียบกระทรวงการคลังว่าด้วยการจัดซื้อจัดจ้างและบริหารพัสดุภาครัฐ พ.ศ. 2560 จึงขอแต่งตั้งรายชื่อต่อไปนี้เป็น คณะกรรมการตรวจรับพัสดุ สำหรับการจัดซื้อจำนวน 1 รายการ ( &nbsp;PARA 500 MG&nbsp; ) โดย.......................
    br
    br
    .fontspace 
    | คณะกรรมการตรวจรับพัสดุ
    br
    table(style="width: 80%; margin-left:7%;")
      tbody
        tr
          td 1. นายนวพล ปิ่นโมรา  
          td นักวิชาการคอมพิวเตอร์ชำนาญการ  
          td ประธาน
        tr
          td 2. นายนวพรรณ ปิ่นแก้ว  
          td นักวิชาการคอมพิวเตอร์
          td กรรมการ
        tr
          td 3. นายภีมพล เปล่งขำ 
          td นักวิชาการคอมพิวเตอร์
          td กรรมการ
    br
    .fontspace
    | อำนาจและหน้าที่ 
    br
    .fontspace
    | ทำการตรวจรับพัสดุให้เป็นไปตามเงื่อนไขของสัญญาหรือข้อตกลงนั้น 
    br
    br
    .right ประกาศ ณ วันที่ 20 มกราคม 2561
    br
    br
    br
    div(style="margin-left: 40%;width:80%;float:left;text-align:center")
      br
      br
      br
      | ลงชื่อ............................................................
      br
      | ( นายธนากร ปิ่นแก้ว )
      br
      | ผู้อำนวยการโรงพยาบาล......