include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success.btnprint(onclick='window.print()') Print
    .center.bold ประกาศ................................
    .center.bold เรื่อง ประกาศผู้ชนะการเสนอราคา 
    .center.bold 
      | ซื้อจำนวน 1 รายการ ( &nbsp;PARA 500 MG&nbsp; ) โดย.......................
    br
    .center
      | ---------------------------------------------------------
    br
    .fontspace
    | ตามที่#{hospitalName} ได้มีโครงการ ซื้อจำนวน 1 รายการ( &nbsp;PARA 500 MG&nbsp; ) โดย....................... นั้น
    br
    .fontspace
    | PARA 500 MG&nbsp;จำนวน 5 BOX(100 TAB) ผู้ได้รับคัดเลือกได้แก่ บริษัท AVENGER COMPANY (ส่งออก,ขายส่ง,ขายปลีก,ให้บริการ,ผู้ผลิต) โดยเสนอราคา เป็นเงินทั้งสิ้น 9,000 บาท (เก้าพันบาทถ้วน) รวมภาษีมูลค่าเพิ่มและภาษีอื่น ค่าขนส่ง ค่าจดทะเบียน และค่าใช้จ่ายอื่นๆทั้งปวง
    br
    br
    .right ประกาศ ณ วันที่ 20 มกราคม 2561
    br
    br
    div(style="margin-left: 40%;width:80%;float:left;text-align:center")
      br
      br
      br
      | ลงชื่อ............................................................
      br
      | ( นายธนากร ปิ่นแก้ว )
      br
      | ผู้อำนวยการโรงพยาบาล......