//- include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success.btnprint(onclick='window.print()') Print
    img(src=APIURL+'krut.png', height='60px')
    .headkut.bold(style="font-size: 24pt;") บันทึกข้อความ
    p.h2
      | ส่วนราชการ
      label.h3(style='margin-top: 5px; font-size: 16pt;')  &nbsp;.................
    p.h2(style='width:50%;float: left;')
      | ที่
      label.h3(style='margin-top: 5px;')  PO-61-000001
    b.h2(style='width:50%;float: left;')
      | วันที่ 
      label.h3(style="font-size: 16pt;") &nbsp;20 มกราคม 2561
    b.h2(style='border: 1px solid white; width:75%; float: left;') เรื่อง
      |  รายงานผลการพิจารณาและขออนุมัติสั่งซื้อยา/เวชภัณฑ์มิใช่ยา
    br
    br
    hr
    .enter เรียน ผู้ว่าราชการจังหวัด.................
    .fontspace
    | ขอรายงานผลการพิจารณาซื้อยาจำนวน 1 รายการ โดย........................ ดังนี้
    br
    table
      thead
        tr 
          td(rowspan='2' style='font-size: 13pt; border: 1px solid black; vertical-align: middle; width:4%;').center ลำดับ
          td(rowspan='2' style='font-size: 13pt; border: 1px solid black; vertical-align: middle;').center รหัส/รายการยา
          td(rowspan='2' style='font-size: 13pt; border: 1px solid black; vertical-align: middle;').center คงเหลือ
          td(colspan='3' style='font-size: 13pt; border: 1px solid black; vertical-align: middle;').center ความต้องการซื้อครั้งนี้
          td(rowspan='2' style='font-size: 13pt; border: 1px solid black; vertical-align: middle;').center ราคากลาง
          td(rowspan='2' style='font-size: 13pt; border: 1px solid black; vertical-align: middle;').center ราคาซื้อหลังสุด
        tr
          td(style='border: 1px solid black; font-size: 13pt;').center จำนวน
          td(style='border: 1px solid black; font-size: 13pt;').center ราคา @
          td(style='border: 1px solid black; font-size: 13pt;').center ราคารวม
      tbody
        tr
          td.center(style='border: 1px solid black; font-size:12pt;') 1
          td(style='border: 1px solid black;font-family:THSarabunNew; font-size:12pt;') 2132345 : PARA 500 MG
          td.center(style='border: 1px solid black; font-size:12pt;') 5 x 100 TAB
          td.center(style='border: 1px solid black; font-size:12pt;') 5 x 100 TAB
          td.right(style='border: 1px solid black; font-size:12pt;') 999
          td.right(style='border: 1px solid black; font-size:12pt;') 999
          td.right(style='border: 1px solid black; font-size:12pt;') 999
          td.right(style='border: 1px solid black; font-size:12pt;') 999
      tr
        td
        td(colspan='7').right รวม 1 รายการ รวมเป็นเงิน ..................... บาท
      tr
        td
        td(colspan='7').right (ตัวอักษร) (..................)
    .fontspace
    | ระเบียบกระทรวงการคลังและกฎกรระทรวงว่าด้วยการจัดซื้อจัดจ้างภาครัฐจาก.................................... อนึ่งในการจัดซื้อในครั้งนี้ใคร่ขอเสนอแต่งตั้งให้ผู้มีรายนามต่อไปนี้ เป็นกรรมการตรวจรับของ คือ
    table(style="width: 80%; margin-left:7%;")
      tbody
        tr
          td 1. นายนวพล ปิ่นโมรา  
          td นักวิชาการคอมพิวเตอร์ชำนาญการ  
          td ประธาน
        tr
          td 2. นายนวพรรณ ปิ่นแก้ว  
          td นักวิชาการคอมพิวเตอร์
          td กรรมการ
        tr
          td 3. นายภีมพล เปล่งขำ 
          td นักวิชาการคอมพิวเตอร์
          td กรรมการ
      br
    .fontspace
    | จึงเรียนมาเพื่อโปรดพิจารณาอนุมัติ โดยใช้เงิน .......................... ประเภท....................... ปี ........ 
    br
    | ในการจัดซื้อในครั้งนี้ ซึ่งมีรายละเอียดการใช้เงินดังนี้
    br
    .fontspace
    table(style="width: 70%;")
      tbody
        tr 
          td ยอดเงินที่ได้รับจัดสรร
          td ................ บาท
        tr 
          td ยอดจัดซื้อสะสมจากครั้งก่อน
          td ................ บาท
        tr 
          td ยอดเงินคงเหลือจากการซื้อครั้งนี้
          td ................ บาท
    .fontspace 
    | เกณฑ์การพิจารณาผลการยื่นข้อเสนอครั้งนี้ จะพิจารณาตัดสินโดยใช้หลักเกณฑ์ราคาประกอบคุณภาพ
    br
    .fontspace
    | #{hospitalName}พิจารณาแล้ว เห็นสมควรจัดซื้อจากผู้เสนอราคาดังกล่าว
    br
    .fontspace
    | จึงเรียนมาเพื่อโปรดพิจารณา หากเห็นชอบขอได้โปรดอนุมัติให้สั่งซื้อสั่งจ้างจากผู้เสนอราคาดังกล่าว
    br
    br
    br
    div(style="width:100%;float:left;")
    div(style="width:50%;float:left;text-align:center") ลงชื่อ.................................................เจ้าหน้าที่
      br
      | ( นายท้องฟ้า สีคราม )
      br 
      | นักวิชาการคอมพิวเตอร์
    div(style="width:50%;float:left;text-align:center") ลงชื่อ.................................................หัวหน้าเจ้าหน้าที่
      br 
      | ( นายเมฆา สีม่วง )
      br
      | นักวิชาการคอมพิวเตอร์เชี่ยวชาญ  
    div(style="width:100%;float:left;text-align:center")
      br
      br
      br
      br
      br
      br
      | ลงชื่อ............................................................
      br
      | ( นายธนากร ปิ่นแก้ว )
      br
      | ผู้อำนวยการโรงพยาบาล......